In [1]:
import pandas as pd

In [10]:
df=pd.read_csv("test_data_sorted_by_time/test_sorted_by_time_3010000.csv")

In [11]:
import sys,time
for i in range(2,101):
    a=3000000+i*10000
    temp=pd.read_csv("test_data_sorted_by_time/test_sorted_by_time_%d.csv"%a)
    df=pd.concat([df,temp],ignore_index=True)
    sys.stdout.write('\r%s%%'%i)
    sys.stdout.flush()

100%

In [13]:
df.to_csv("test_all_sorted.csv")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100432437 entries, 0 to 100432436
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   time         int64
 1   user_id      int64
 2   creative_id  int64
 3   click_times  int64
dtypes: int64(4)
memory usage: 3.0 GB

In [14]:
df.tail()

           time  user_id  creative_id  click_times
100432432    75  4000000      3642395            1
100432433    75  4000000      3596158            1
100432434    76  4000000       366858            1
100432435    76  4000000      3333680            1
100432436    77  4000000      3697105            1